:root {
  --green: #00884C;
  --pastelGreen: #e9fce4;
  --font-size: 1.2em;
  --neonGreen: #0FFF50
}

body {
  padding: 0.8%;
  font-family: Helvetica, Verdana, Sans-serif;
  max-width: fill;
  max-height: fill;
  margin: auto;
  height: 100%;
  background-color: whitesmoke;
}

.btn {
  font-family: Helvetica, Verdana, Sans-serif;
  display: flex;
  background-color: var(--green);
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: regular;
  padding: 15px 10px;
  margin: 15px;
  flex-grow: 0;
  border: 1px solid var(--green);
  box-shadow: 2px 3px 3px 1px gray;
  text-decoration: none;

}

.btn:hover {
  background-color: #77a809;
}

.btn:active {
  position: relative;
  top: 1px;
}

.vflex {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.hflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  width: 100%;
}

h1 {
  font-family: 'Time New Roman';
  font-weight: lighter;
  font-size: 1.0cm;
  line-height: 0;
  letter-spacing: 4px;
}

h2, label{
  font-weight: lighter;
  line-height: 1.5;
  font-size: 22px;
}

.float {
  line-height: 3.7;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  text-decoration: none;
}

.my-float {
  margin-top: 22px;
}

.menu {
  color: var(--green);
  font-size: 22px;
  background-color: #FFFFFF;
  padding: 2px;
  border-style: none;
  border-color: #FFFFFF;
  padding: 3px;
  margin: 8px;
}

.bigbars{
  width: 100%; 
  height: 100%;  
}


#dAreaCounts {
}

table.greenTable {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #D4EED1;
  width: 100%;
  text-align: left;
}
table.greenTable td, table.greenTable th {
  padding: 5px 5px;
}
table.greenTable tbody td {
  font-size: 20px;
}

table.greenTable td.row_alert{
  background-color: pink;
}

table.greenTable td.row_alert:nth-child(even){
  background-color: pink;
}

table.greenTable tr:nth-child(even) {
  background-color: #FFFFFF;
}

table.greenTable tr.cRed {
  background-color: lightpink;
}

table.greenTable tr.cYellow {
  background-color: lightgoldenrodyellow;
}

table.greenTable tr.cGreen{
  background-color: lightgreen;
}


table.greenTable thead {
  background: #24943A;
  border-bottom: 0px solid #000000;
}
table.greenTable thead th {
  font-size: 22px;
  font-weight: normal;
  color: #F0F0F0;
  text-align: center;
}
table.greenTable tfoot td {
  font-size: 13px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #24943A;
  padding: 2px 8px;
  border-radius: 5px;
}

.numDays {
  background-color: #FFF;
  color: black;
  border-width: 0;
  border-style: solid;
  border-color: #AAA;
  border-radius: 4px;
  box-shadow: 0 1 3px 3px #222;
  font-size: 24px;
  margin: 10px;
  padding: 5px;
  width: 50px;
}

.numDays:hover {
  background-color: lightgreen;
  color: #222;
  border-width: 1px;
  border-color: white;
}

.numDays:focus {
  background-color: green;
  color: white;
  border-width: 1px;
  border-color: white;
}

.badCount {
  color: maroon;
  font-weight: 1000;
}